:root {
  --main-color: #fcbd4b;

  --brand-color: #196afb;
  --brand-color-2: #fcbd4b;
  --brand-color-3: #dd8f04;

  --secondary-color: #fbaa19;
  --secondary-color-2: #4b8afc;
  --secondary-color-3: #0452dd;

  --tertiary-color: #1ab22d;
  --tertiary-color-2: #21df38;
  --tertiary-color-3: #148622;

  --text-color: #484848;

  /* for scoller */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TrashHand"; /* The name you'll use to apply the font */
  src: url("fonts/trashhand/TrashHand.TTF") format("truetype");
  font-weight: normal; /* TrashHand usually doesn't have weights */
  font-style: normal;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Start Settings Box */
.settings-box {
  top: 0;
  position: fixed;
  left: -200px;
  background-color: #fff;
  width: 200px;
  z-index: 1001;
  min-height: 100vh;
  transition: 0.3s;
  border: 1px solid #eee;
}

.settings-box.open {
  left: 0;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
}

.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}

.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}

.settings-box .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
}

.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.settings-box .option-box .yes,
.settings-box .option-box .no {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.settings-box .option-box span.active {
  opacity: 1;
}
.settings-box .reset-options {
  background-color: #f44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 110px;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
/* End Nav Bullets */

/* Main Content Area */
.main-content {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}
.content-area {
  width: 100%;
  margin-bottom: 20px; /* Add spacing between elements */
}

@media (max-width: 991px) {
  .content-area {
    order: 2;
  }
}

/* Start Floating Widget */
.floating-widget {
  width: 90%;
  position: relative;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

@media (min-width: 992px) {
  .content-area {
    width: 66%;
  }

  .floating-widget {
    width: 24%;
    position: sticky;
    top: 5vh;
    margin: 5vh;
    height: fit-content;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .content-area {
    width: 66.66%;
  }

  .floating-widget {
    width: 20%;
    position: sticky;
    top: 5vh;
    margin: 5vh;
    height: fit-content;
    padding: 15px;
  }
}

.floating-widget .widget-content {
  text-align: center;
}

.floating-widget .widget-content h2 {
  /* margin-bottom: 20px; */
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.floating-widget .progress-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.floating-widget .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.floating-widget .progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.floating-widget .progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floating-widget .days-left,
.funding-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.floating-widget .days {
  font-size: 16px;
  font-weight: bold;
}

.floating-widget .label,
.funded {
  font-size: 10px;
  color: #888;
}

.floating-widget .amount {
  font-size: 16px;
  font-weight: bold;
}

.floating-widget .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* margin-bottom: 20px; */
  margin-top: 0;
}

.floating-widget .button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  width: 100%;
}

.floating-widget .donate {
  background-color: var(--tertiary-color);
  color: #fff;
}

.floating-widget .share {
  background-color: var(--main-color);
  color: #333;
}

.floating-widget .button:hover {
  opacity: 0.9;
}

.floating-widget .widget-links {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.floating-widget .widget-link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.floating-widget .widget-link:hover {
  text-decoration: underline;
}
/* End Floating Widget */

/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: #00000096;
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 1000;
  height: 100%;
  padding: 0;
}


.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
  height: 100%;
}

.header-area .logo {
  width: fit-content;
}
.overlay .header-area .logo img {
  height: 100%;
  width: 202px;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
  padding: 25px 0;
}
.header-area .links {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

.introduction-text .links {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}

.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.header-area .toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  display: none;
  position: relative;
}
.header-area .toggle-menu.menu-active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu span {
  display: block;
  background-color: #fff;
  height: 4px;
  margin-bottom: 4px;
}
.introduction-text {
  position: absolute;
  left: 20%;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: start;
  width: 30%;
}
@media (max-width: 992px) {
  .introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: start;
    width: 80%;
  }
}
.introduction-text h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .introduction-text h1 {
    font-size: 56px;
  }
}
.introduction-text h1 span {
  color: var(--main-color);
}
.introduction-text .hero-text {
  padding-top: 12%;
}
.introduction-text .hero-subhead p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  margin: 0;
}
.introduction-text p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the gap between buttons as needed */
  padding: 20px;
  margin-top: 20%;
  width: 90%;
}
.button {
  padding: 15px 0;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  text-align: center;
}
.donate {
  flex: 0 0 40%;
  margin-right: 0;
}
.more-info {
  flex: 0 0 60%;
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}
.button.more-info {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}
.button:hover {
  background-color: var(--main-color); /* Set your hover color */
}
.button.donate:hover {
  background-color: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
.button.more-info:hover {
  background-color: var(--main-color);
  color: #fff;
}
.introduction-text .action-buttons input[type="submit"] {
  padding: 10px;
  width: 40%;
  border-color: transparent;
  border-radius: 10%;
  background-color: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }

  .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/* End Landing Page */

/* Start Story */
.story {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.story .story-box {
  flex: 1;
  padding: 30px;
}
.story .story-box h2 {
  font-weight: bold;
  font-size: 56px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.story .story-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
/* End Story */

/* Start Quotes */
.testimonial-container {
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.testimonial-wrapper {
  /* Remove display: flex; */
  width: 100%;
}

.testimonial {
  width: 100%;
  padding: 20px;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
  display: none; /* Initially not displayed */
}

.testimonial.active {
  opacity: 1; /* Visible when active */
  display: block; /* Displayed when active */
}

.testimonial p {
  min-height: 300px;
  text-align: center;
  font-size: 2em;
  font-family: "TrashHand", cursive;
}

.testimonial-author {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.testimonial-author span {
}

.testimonial-author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 575px) {
  .container {
    padding-right: 10px;
    padding-right: 10px;
  }
  .testimonial {
    padding: 0;
  }
  .testimonial p {
    min-height: 225px;
    font-size: 1.25em;
  }
  .testimonial-author {
    justify-content: center;
  }
  .h3,
  h3 {
    font-size: 1.2em;
  }
}
.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.indicator {
  font-size: 14px;
}
/* End Quotes */

/* Start Comments */
.fb-comments-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.fb-comments {
  width: 70%;
  max-width: 800px; /* Ensures it doesn't exceed 800px */
  margin: 0 auto;
}

@media (max-width: 991px) {
  .fb-comments {
    margin-right: 10%; /* Slightly wider for medium screens */
    margin-left: 10%;
  }
}

@media (max-width: 767px) {
  .fb-comments {
    margin-right: 5%; /* Even wider for smaller screens */
    margin-left: 5%;
  }
}

@media (max-width: 575px) {
  .fb-comments {
    margin-right: 5%; /* Full width on very small screens */
    margin-left: 5%;
  }
}
/* End Comments */

/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 130px;
  text-align: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 264px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stays fixed on the screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1001; /* Ensure it's above other content */
}

.popup-overlay.show {
  display: block; /* Visible when the 'show' class is added */
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Tahoma;
  border-radius: 50%;
}

.popup-box img {
  width: 100%;
}

/* End Gallery */

/* Start Features */
.features {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../imgs/supporters.jpg");
  background-size: cover;
  background-position: center;
}

.features .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.features h2 {
  font-weight: bold;
  font-size: 56px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.features .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; /* Adjust as per desired spacing */
  position: relative;
  z-index: 2;
  padding: 0 10px; /* Add padding to ensure gap space on edges */
}

@media (max-width: 768px) {
  .features .container {
    max-width: 90%;
    gap: 10px;
  }
}

@media (max-width: 575px) {
  .features .container {
    flex-direction: column;
  }
}

.features .feat-box {
  flex: 1 1 calc(33.33% - 50px); /* Adjust calculation to account for gaps */
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
}

.features .feat-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}
.features .feat-box img {
  height: 96px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
  color: #ffffff;
}
.features .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #dfdfdf;
}
/* End Features */

/* Start Testimonials */
/* .testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonials:before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}
.testimonials:after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
  height: 100%;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
  text-align: left;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}
.testimonials .ts-box {
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}
@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}
.testimonials .ts-box .person-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}
.testimonials .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info img {
      float: none;
      margin-right: 0;

    }
  }
.testimonials .ts-box .person-info h4 {
  margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
  color: #707070;
  margin: 0;
} */
/* End Testimonials */

/* Start About Us */
.about-us {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
  margin: auto;
}
.about-us .image-box img {
  width: 350px;
}
@media (max-width: 575px) {
  .about-us .image-box img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .about-us .image-box img {
    margin-top: 15px;
  }
}
/* End About Us */

/* Start Footer */
.footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}

/* Start Scroll */
.scroller {
  width: 80%;
  margin: 0 auto;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 75px;
  background: rgba(255, 255, 255, 0.2);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 40s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-13% - 0.5rem));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}
/* End Scroll */

/* End Footer */

/* Start Grid System */

/* End Grid System */
